body {
  background-color: #1e1e30;
  color: white;
}

input[type="file"] {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
}

button:hover {
  background-color: #303f9f;
}
